.toggle-button__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 40%;
    padding-right: 1.5rem;
    cursor: pointer;
}

.toggle-button__text {
    color: var(--color-dark);
    margin: 0
}

div.toggle-button__wrapper > i{
    font-size: 1.2rem;
    color: var(--color-dark);
    margin: 0 1rem;
}