.toggle-button__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 40%;
    padding-right: 1.5rem;
    cursor: pointer;
    outline: none;

}

.toggle-button__text {
    color: var(--color-dark);
    font-size: 1.1rem;
    margin: 0;
    outline: none;

}

div.toggle-button__wrapper > i{
    font-size: 1.3rem;
    color: var(--color-dark);
    margin: 0 1rem;
    outline: none;

}