.dashboard__liasAll {
  padding: 70px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard__listAllPagination {
  margin: 30px auto 20px;
}

@media (min-width: 900px) {
  .dashboard__liasAll {
      padding: 70px 10px 10px 230px;
  }
}