.dashboard {
    padding: 70px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 50vh;
}
.loginTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}   

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 900px) {

    .dashboard {
        padding: 70px 10px 10px 230px;
        display: flex;
        height: 50vh;
    }
    .loginTitle {
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    font-size: 50px;
    }

    .loginTitle_text {
        font-size: 40px;
    }
       
    .loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .ui.button {
        font-size: 1.4rem !important ;
    }

}

