.dashboard {
    padding: 70px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 50vh;
}
.loginTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}   

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
}

.loginTitle_text {
    font-family: Comfortaa;
    text-align: center;
}


@media (min-width: 900px) {

    .dashboard {
        padding: 70px 10px 10px 230px;
        display: flex;
        height: 50vh;
    }

    .loginTitle {
        display: flex;
        text-align: center;
        font-size: 50px;
        width: 100vw;
    }

    .loginForm {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        flex-direction: row;
    }
    .loginForm > * {
        padding: 5px;
    }

    .ui.button {
        font-size: 1.2rem !important ;
    }

}

