.newPlaceAdded {
    display: flex;
    height: 100vh;  
    padding: 10px;
    padding-top: 50px;
    font-size: 25px;
    align-items: center;
    flex-direction: column;
}

.newPlaceAdded__text {
    padding-bottom: 40px;
    text-align: center;
    font-size: 40px;
}
.newPlaceAdded__buttons--placeDecription {
    padding-top: 20px;

}


@media all and (min-width: 900px) {
    .newPlaceAdded__text{
    font-size: 40px;
    padding: 70px 10px 10px 230px;
    display: flex;
    font-size: 25px;
    flex-direction: column;
    }
    .newPlaceAdded__buttons--placeDecription {
        padding: 20px 10px 10px 230px;
    
    }
    .newPlaceAdded__buttons--placeList {
        padding: 20px 10px 10px 230px;
    }
}