.addNewPlace__dashboard {
    padding: 10px;
}

.addPlace > * {
padding-top: 10px;
padding-bottom: 10px;
}

.addPlace span {  
    padding-right: 20px;
}

.addNewPlace__dashboard--h1 {
    text-align: center;
}

@media (min-width: 900px) {
    .addNewPlace__dashboard {
        padding: 70px 10px 10px 230px;
    }
}