.addNewPlace__dashboard {
    padding: 70px 10px 10px 230px;
}

.addPlace > * {
padding-top: 10px;
padding-bottom: 10px;
}

.addPlace span {  
    padding-right: 20px;
    }

.addNewPlace__dashboard--h1 {
    text-align: center;
}
