.dashboard {
    padding: 70px 10px 10px 10px;
}

.dashboard__info {
    text-align: center;
    padding: 20px;
    width: 100vw;
    margin-bottom: 36px;
}

.dashboard__title {
    font-family: Comfortaa;
}

.dashboard__text {
    font-size: 1.3rem;
}

.dashboard__icon {
    color: var(--color-yellow);
    font-size: 1.3rem;
}

.dashboard__special {
    font-weight: bold;
    color: var(--color-blue);
}

.dashboard__charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.dashboard__chart {
    margin: 20px auto;
    width: 90vw;
    max-width: 450px;
}

.dashboard__chartTitle {
    font-family: Comfortaa;
    text-align: center;
}

@media (min-width: 900px) {
    .dashboard {
        padding: 70px 10px 10px 230px;
    }
}

@media (max-width: 430px) {
    .dashboard__chartTitle {
        font-size: 14px;
    }
}