.dashboard {
    padding: 70px 10px 10px 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard__chart {
    margin: 50px auto;
    min-width: fit-content;
}

.dashboard__chartTitle {
    font-family: Comfortaa;
    text-align: center;
}