.search-bar__wrapper{
    background-color: var(--color-light-blue);
    height: 15rem;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    border-left: 1px solid var(--color-white);
    width: 100%;
    margin: 0;
}

.search-bar__default {
    margin: 1rem;
    display: flex;
    align-content: center;
}

.search-bar__input {
    flex-basis: 40%;
}

.search-advance__button {
    align-self: center;
}

