.search-bar__wrapper{
    background-color: var(--color-light-blue);
    height: 5rem;
    display: flex;
    padding-left: 3rem;
    border-left: 1px solid var(--color-white);
}

.search-bar__input {
    align-self: center;
}