.favList__list {
  padding: 70px 10px 80px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@media (min-width: 900px) {
  .favList__list {
      padding: 70px 10px 80px 230px;
  }
}