.range__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  margin-top: 2rem;
  width: 560px;

  
}

.range {
  width: 480px;
  height: 10px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
}

.range__text {
  display: flex;
  flex-direction: row;
  color: var(--color-yellow);
  width: 480px;
  font-weight: bold;
}

.range__text>p {
  margin-right: 48px !important;
  margin-top: 1.3rem !important;
  max-width: 30% !important;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--color-white);
  font-weight: normal;


}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-yellow);
  cursor: pointer;
}

.slider:-moz-range-thumb {
    width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--color-yellow);
  cursor: pointer;
}