@keyframes socialShareAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.socialShareContainer {
    .socialShareButton {
        height: 50px;
        line-height: 50px;
        padding: 0px 25px;
        background: #666;
        color: #fff;
        cursor: pointer;
    }
    .closeShare {
        display: none;
        opacity: 0;
    }
    .openShare {
        display: block;
        opacity: 1;
        animation: socialShareAnimation 1s;
    }
    i {
        font-size: 50px;
        color: #666;
        margin: 0px 10px;
    }

}