.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-blue);
    z-index: 2;
}

.header__leftBox {
    display: flex;
    align-items: center;
}

.header__icon {
    display: inline-block;
    color: var(--color-white);
    font-size: 36px;
    margin: 16px;
    cursor: pointer;
}

.header__image {
    height: 50px;
    padding: 0 10px;
}

.header__title {
    margin: 0;
}

.header__titleLink {
    font-family: 'Comfortaa';
    padding: 0 10px;
    color: var(--color-white);
    text-decoration: none;
}

@media (min-width: 900px) {
    .header__icon {
        display: none;
    }
}