.defaultPage {
  padding: 70px 10px 10px 10px;
  text-align: center;
}

.defaultPage__title {
  padding: 20px;
  font-family: Comfortaa;
}

.defaultPage__text {
  font-size: 1.2em;
  padding: 30px;
}

.defaultPage__link {
  font-weight: bold;
}

@media (min-width: 900px) {
  .defaultPage {
      padding: 70px 10px 10px 230px;
  }
}