.placeDetails {
    display: flex;
    flex-wrap: wrap;
}

.dashboard__placeDetails {
    min-width: fit-content;
}

.dashboard__placeDetails--hero {
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.dashboard__placeDetails--image {
    width: 90%;
}

.dashboard__placeDetails--right {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    text-align: center;
}

.dashboard__placeDetails--location {
    margin-top: 5px;
}

.dashboard__placeDetails--type {
    margin-top: 0;
}


.dashboard__placeDetails--description {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.dashboard__placeDetails--description :first-child {
    font-size: 13px;
    font-family: Comfortaa;
    text-align: justify;
}

@media (min-width: 900px) {
    .placeDetails {
        padding: 70px 10px 10px 230px;
    }

    .dashboard__placeDetails--hero {
        flex-direction: row;
    }

    .image-wrapper {
        position: relative;
        display: flex;
        margin-top: 0;
    }

    .dashboard__placeDetails--right {
        margin: 50px auto;
        width: 60%;
        display: inline-block;
    }

    .dashboard__placeDetails--description :first-child {
        font-size: 18px;
    }
}
