.sidebar {
    padding-top: 60px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    height: 100vh;
    width: 220px;
    background-color: var(--color-light-blue);
    position: fixed;
    z-index: 1;
}

.sidebar__link {
    color: var(--color-dark);
    text-decoration: none;
    padding: 20px 0 20px 10px;
}