/*VAR*/

:root {
  --color-dark: rgb(29, 29, 29);
  --color-white: #fff;
  --color-light-blue: rgb(192, 210, 219);
  --color-blue: #3A515F;
  --color-blue2: rgb(108, 133, 150);
  --color-grey: rgb(163, 163, 163);
  --color-yellow: rgb(209, 169, 57);
}

/*STYLES*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}


body {
  margin-top: 0px;
  margin-left: 0px;
}